@import "../../variables.scss";

.ListItem {
  li {
    padding: 3px 3px 3px 6px;
  }
  i {
    @include list-icon-styles;
  }
  .checked {
    font-size: 20px;
    padding-left: 2px;
  }
}

.activeTask {
  color: $darkFont;
}

.completedTask {
  text-decoration: line-through;
  color: $lightgrey;
}
