@import '../../variables.scss';

.HomeScreen {
  min-height: 100vh;
  max-width: 1300px;
  margin: auto;
}

.btn-area {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	& button {
		height: 50px;
		width: 200px;
		font-size: 20px;
		font-weight: 500;
		border: 0;
		color: white;
		background-color: $btnGreen;
    border-radius: 3px;
    
    &:hover {
      cursor: pointer;
      background-color: lighten($color: $btnGreen, $amount: 2%)
    }
	}
}
