html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2855&q=80");
  background-size: cover;
}
